<ul class="tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><%= link_to "Profile", blogs_path %></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Settings</a></li>
  <li><a href="#">Contact</a></li>
</ul>