<footer class="footer">

  <div class="container">
    <p class="span4">
     tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>

    <p class="pull-right">
      Some Right Buttons
    </p>

  </div>
</footer>